.sidebar--verified--container {
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 180ms ease;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 1.5px;
    border-bottom: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    border-top: 0.5px solid var(--color-border);
    background-color: white;
}

.sidebar--results-text {
    width: 90%;
    text-align: left;
    margin-top: 40px;
    display: flex;
    gap: 5px;
}

.results--circle {
    width: 10px;
    height: 10px;
    background-color: var(--color-brand-green);
    border-radius: 50%;
}

.results-text {
    color: var(--color-brand-green);
    text-align: left;
}

.sidebar--circle--container {
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar--circle-ring {
    transform: rotate(-90deg); /* Rotate so it starts at the top */
}

.score-description--container {
    font-size: 2.5vw;
    margin-top: -7vw;
    text-align: center;
    line-height: 0.5;
}

.score-text {
    color: black;
    font-weight: bold;
}

.max-score-text {
    color: var(--color-text-faint);
    font-weight: bold;
}

.score-description-good {
    margin-top: 0.9vw;
    font-size: 1vw;
    color: var(--color-brand-green);
}

.sidebar--incorrect-components-title {
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar--incorrect-components {
    margin-top: 20px;
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: row;
    gap: 0px 10px;
}

.incorrect-components--header {
    font-size: 0.9rem;
}

.button--column {
    flex: 1;
}

.retry-button--container {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-top: 10px;
    margin-bottom: 10px;
}

.retry-button {
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar--container {
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    transition: width 180ms ease;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 1.5px;
    border-bottom: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
    border-right: 1px solid var(--color-border);
    border-top: 0.5px solid var(--color-border);
    background-color: white;
    gap: 20px 0px;
}

.pieces--container {
    width: 90%;
    text-align: left;
    padding-top: 110px;
}

.description--container {
    width: 90%;
}

.buttons--container {
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: row;
    gap: 0px 10px;
}

.btn--check-work {
    background-color: var(--color-brand-green);
    font-size: clamp(.25rem, .75vw, .7rem);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn--reset {
    font-size: clamp(.25rem, .75vw, .7rem);
}

.check-work-reset--container {
    display: flex;
    width: 90%;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 0px 10px;
    margin-bottom: 10px;
}